<!DOCTYPE html>
<html>
    <head>
        <title> Grammar Suggestions </title>
    </head>

    <body>
        {% for i in range(corr|length)%}
            <ul>
                <li>Did you mean: </li>
                <li>{{corr[i]}}</li>
            </ul>
        {%endfor%}
        <a href = "/"><button>Upload Again</button></a>
        <a href = "/saved"><button>View all Saved Notes</button></a>
        <form action = "/save" method = "POST">
            <input type = "hidden" name="name" value = {{name}}>
            <button type = "submit" >Save Note</button>
        </form>
        <form action = "/convert" method = "POST">
            <input type = "hidden" name="name" value = {{name}}>
            <button type = "submit" >View Note as HTML</button>
        </form>
    </body>
</html>
